/* 
 
Required Style Guide:
h1 - Montserrat 800
other headings - Montserrat 600
p - Montserrat 400
red - #ff5c5c
blue - #161e67
White - #ffffff
*/

/* General Elements */

* {
  box-sizing: border-box;
}

/* Elements */

body {
  background-color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #ff5c5c;
  font-size: 24px;
}

h2 {
  color: #ff5c5c;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #ff5c5c;
}

h4 {
  color: #161e67;
}

h5 {
  text-align: justify;
}

p,
a,
div {
  font-weight: 400;
  text-align: center;
  color: #ff5c5c;
}

ul {
  list-style-type: none;
}

li {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
}

button {
  background-color: #ff5c5c;
}

i {
  color: #ff5c5c;
}

/* Classes */

.hr {
  background-color: #161e67;
  height: 5px;
  width: 80%;
  border-radius: 25px;
}

.navbar a {
  color: #fff;
}

.btn {
  background-color: #161e67;
  color: #ffffff;
}

.btn-primary {
  background-color: #ff5c5c;
}

.header,
.footer,
.card-body {
  background-color: #161e67;
}

#button1 {
  background: #161e67;
  border: none;
}

.card-header {
  font-size: 24px;
}

.card-header,
.card-footer {
  background: #161e67;
}

.carousel {
  background-color: #e9ecef;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-item {
  text-align: center;
  position: relative;
  min-height: 280px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.bs-example {
  margin: 40px;
}

.gap100 {
  padding: 100px 100px;
}

.col-md-6 {
  color: white;
}

.jumboheaderimg {
  background-color: #fff;
  background-size: cover;
  color: #ff5c5c;
}

.card-image {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.item-card {
  transition: 0.5s;
  cursor: pointer;
}

.item-card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.card-text {
  height: 80px;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.jellyphoto {
  background-image: url("../images/jelly.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.row-fluid {

  background-color: #ff5c5c;
}

.row-1 {
  height: 100px;
  margin-top: 30px;
}
.button1 {
  background-color: #161e67;
}

h5 {
  height: 90px;
}